:root {
  --color-background: #eeeeee;
  --color-text: #283136;
  --color-title: #000000;
  --color-accent1: #fb565a;
  --color-accent1-hover: #e74246;
  --color-accent1-active: #d7373b;
  --color-accent2: #00ca74;
  --color-accent2-hover: #00bc6c;
  --color-accent2-active: #00aa62;
  --color-accent3: #efc849;
  --color-accent3-hover: #eab534;
  --color-accent3-active: #e5a722;
  --color-accent4: #a6a6a6;
  --color-accent5: #4d4d4d;
  --color-accent6: #666666;
  --color-accent7: #444444;
  --color-accent8: #d7dcde;
  --color-accent9: #b4b9bb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1180px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-text);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(0 0 0 0);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px;
  overflow: hidden;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  display: block;
}

.button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  background-color: var(--color-background);
  padding-top: 45px;
}

.nav {
  line-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
}

.nav a {
  color: var(--color-title);
}

.nav a[href]:hover,
.nav a[href]:focus {
  color: var(--color-accent1);
  transition: 0.3s;
}

.nav a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 760px;
  flex-wrap: wrap;
}

.nav__item {
  margin-right: 44px;
}

.nav__list a,
.nav__basket a {
  display: block;
  padding-top: 30px;
  padding-bottom: 12px;
}

.nav__active {
  border-bottom: 2px solid var(--color-accent1);
}

.nav__basket {
  position: relative;
  border-bottom: 2px solid transparent;
}

.nav__basket a {
  padding-left: 40px;
}

.nav__basket a::before {
  content: url(../img/cart-icon.svg);
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0px;
  top: 32px;
  opacity: 1 !important;
}

.advantages {
  background-color: var(--color-background);
  padding-top: 73px;
  padding-bottom: 80px;
}

.advantages__list {
  position: relative;
}

.advantages__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantages__item-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--color-title);
  margin-bottom: 25px;
}

.advantages__item-button {
  color: #ffffff;
  background-color: var(--color-accent1);
  padding: 16px 54px;
  max-width: 240px;
  margin-top: 36px;
}

.advantages__item-button:hover,
.advantages__item-button:focus {
  background-color: var(--color-accent1-hover);
  transition: 0.3s;
}

.advantages__item-button:active {
  background-color: var(--color-accent1-active);
  color: rgba(255, 255, 255, 0.3);
}

.advantages__item-img {
  position: absolute;
  right: 0;
  bottom: -80px;
}

.offers {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 2px solid var(--color-background);
}

.offers__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offers__item {
  min-width: 360px;
  padding: 20px 0;
}

.offers__wrapper-img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 146px;
}

.offers__item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-title);
  margin-top: 25px;
  margin-bottom: 16px;
}

.offers__item-button {
  color: #ffffff;
  padding: 16px 40px;
  max-width: 160px;
  margin-top: 28px;
}

.offers__item-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.offers__item-button-red {
  background-color: var(--color-accent1);
}

.offers__item-button-red:hover,
.offers__item-button-red:focus {
  background-color: var(--color-accent1-hover);
  transition: 0.3s;
}

.offers__item-button-red:active {
  background-color: var(--color-accent1-active);
}

.offers__item-button-green {
  background-color: var(--color-accent2);
}

.offers__item-button-green:hover,
.offers__item-button-green:focus {
  background-color: var(--color-accent2-hover);
  transition: 0.3s;
}

.offers__item-button-green:active {
  background-color: var(--color-accent2-active);
}

.offers__item-button-yellow {
  background-color: var(--color-accent3);
}

.offers__item-button-yellow:hover,
.offers__item-button-yellow:focus {
  background-color: var(--color-accent3-hover);
  transition: 0.3s;
}

.offers__item-button-yellow:active {
  background-color: var(--color-accent3-active);
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 38px;
  border-bottom: 2px solid var(--color-background);
  position: relative;
}

.about__slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--color-title);
  margin-bottom: 32px;
  margin-top: 73px;
}

.about__title {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 36px;
  margin-bottom: 22px;
}

.about__item-order {
  position: relative;
  padding-left: 36px;
}

.about__item-order::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--color-accent1);
  left: 0;
  top: 12px;
}

.about__img {
  margin-top: 39px;
}

.about__title-black {
  color: var(--color-title);
  text-align: center;
}

.about__list-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 358px;
}

.about__item-number-title {
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 12px;
}

.about__item-number-title sup {
  font-size: 26px;
  line-height: 40px;
  vertical-align: super;
}

.about__item-number-description {
  line-height: 18px;
}

.partners__list {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid var(--color-background);
  flex-wrap: wrap;
}

.partners__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 180px;
  width: 290px;
}

.partners__item:not(:nth-child(4n))::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 52px;
  background-color: var(--color-background);
  top: 64px;
  right: -1px;
}

.partners__item img {
  margin: 0 auto;
  opacity: 0.2;
}

.partners__item img:hover {
  opacity: 1;
  transition: 0.3s;
}

.contacts {
  position: relative;
  padding-top: 80px;
}

.contacts__info {
  position: absolute;
  background-color: #ffffff;
  padding: 50px;
  padding-bottom: 46px;
  margin-top: 54px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-text);
  font-weight: 700;
  margin-bottom: 23px;
}

.contacts__description,
.contacts__description a {
  line-height: 18px;
  color: var(--color-accent6);
}

.contacts__description a:hover,
.contacts__description a:focus {
  text-decoration: underline;
  transition: 0.3s;
}

.contacts__description a:active {
  color: var(--color-accent1-hover);
}

.contacts__button {
  padding: 17px 44px;
  color: #ffffff;
  background-color: var(--color-accent1);
  max-width: 219px;
  margin-top: 36px;
}

.contacts__button:hover,
.contacts__button:focus {
  background-color: var(--color-accent1-hover);
  transition: 0.3s;
}

.contacts__button:active {
  background-color: var(--color-accent1-active);
}

.contacts__map {
  width: 100%;
  height: 416px;
  overflow: hidden;
}

.contacts__map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts__marker {
  position: absolute;
  left: 58%;
  top: 37%;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 68px;
  padding-bottom: 68px;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin-right: 140px;
  flex-wrap: wrap;
}

.social__list a::before {
  content: "";
  position: absolute;
  width: 81px;
  height: 81px;
  background-color: #e1e1e1;
  border-radius: 50%;
  z-index: -1;
}

.social__list a:hover::before,
.social__list a:focus::before {
  background-color: var(--color-accent1-hover);
  transition: 0.3s;
}

.social__list a:active::before {
  box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.social__list a:active .social__item-content {
  fill: rgba(255, 255, 255, 0.3);
}

.social__title {
  font-size: 36px;
  line-height: 36px;
  color: var(--color-title);
  font-weight: 700;
  margin-top: 7px;
  margin-bottom: 10px;
}

.social__description {
  line-height: 22px;
  color: var(--color-accent7);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.modal {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.write-to-us {
  position: relative;
  background-color: #fff;
  max-width: 960px;
  padding: 100px;
  padding-top: 63px;
  padding-bottom: 80px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.write-to-us__form-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.write-to-us__form-top div {
  margin-bottom: 34px;
}

.write-to-us__form-top div:first-child {
  margin-right: 40px;
}

.write-to-us__title {
  font-size: 45px;
  color: var(--color-title);
  font-weight: 700;
  margin-bottom: 38px;
}

.write-to-us__lable-title {
  line-height: 18px;
  color: var(--color-title);
  font-weight: 700;
}

.write-to-us__placeholder {
  font: inherit;
  padding: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid var(--color-accent8);
  border-radius: 3px;
  display: block;
  min-width: 360px;
}

textarea.write-to-us__placeholder {
  width: 100%;
  min-height: 118px;
}

.write-to-us__placeholder:hover {
  border-color: var(--color-accent9);
  transition: 0.3s;
}

.write-to-us__placeholder:focus {
  outline: none;
  border-color: #000000;
  color: var(--color-accent7);
}

.write-to-us__placeholder:invalid {
  border-color: var(--color-accent1-hover);
  color: var(--color-accent1-hover);
}

.write-to-us__button {
  padding: 17px 83px;
  color: #ffffff;
  background-color: var(--color-accent1);
  max-width: 259px;
  margin-top: 47px;
}

.write-to-us__button:hover,
.write-to-us__button:focus {
  background-color: var(--color-accent1-hover);
  transition: 0.3s;
}

.write-to-us__button:active {
  background-color: var(--color-accent1-active);
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 21px;
  height: 21px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  opacity: 0.3;
  tabindex: 0;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}
