:root {
  --color-background: #eeeeee;
  --color-text: #283136;
  --color-title: #000000;
  --color-accent1: #fb565a;
  --color-accent1-hover: #e74246;
  --color-accent1-active: #d7373b;
  --color-accent2: #00ca74;
  --color-accent2-hover: #00bc6c;
  --color-accent2-active: #00aa62;
  --color-accent3: #efc849;
  --color-accent3-hover: #eab534;
  --color-accent3-active: #e5a722;
  --color-accent4: #a6a6a6;
  --color-accent5: #4d4d4d;
  --color-accent6: #666666;
  --color-accent7: #444444;
  --color-accent8: #d7dcde;
  --color-accent9: #b4b9bb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(0 0 0 0);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px;
  overflow: hidden;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  display: block;
}

.button:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.header {
  background-color: var(--color-background);
}

.nav {
  line-height: 30px;
  color: var(--color-title);
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  color: var(--color-title);
}

.nav a[href]:hover,
.nav a[href]:focus {
  color: var(--color-accent1);
}

.nav a[href]:active {
  color: var(--color-title);
  opacity: 0.3;
}

.advantages {
  background-color: var(--color-background);
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--color-title);
}

.advantages__item-button {
  color: #ffffff;
  background-color: var(--color-accent1);
  padding: 15px 54px;
  max-width: 240px;
}

.advantages__item-button:hover,
.advantages__item-button:focus {
  background-color: var(--color-accent1-hover);
}

.advantages__item-button:active {
  background-color: var(--color-accent1-active);
  color: rgba(255, 255, 255, 0.3);
}

.offers__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.offers__item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-title);
}

.offers__item-button {
  color: #ffffff;
  padding: 15px 40px;
  max-width: 160px;
}

.offers__item-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.offers__item-button_red {
  background-color: var(--color-accent1);
}

.offers__item-button_red:hover,
.offers__item-button_red:focus {
  background-color: var(--color-accent1-hover);
}

.offers__item-button_red:active {
  background-color: var(--color-accent1-active);
}

.offers__item-button_green {
  background-color: var(--color-accent2);
}

.offers__item-button_green:hover,
.offers__item-button_green:focus {
  background-color: var(--color-accent2-hover);
}

.offers__item-button_green:active {
  background-color: var(--color-accent2-active);
}

.offers__item-button_yellow {
  background-color: var(--color-accent3);
}

.offers__item-button_yellow:hover,
.offers__item-button_yellow:focus {
  background-color: var(--color-accent3-hover);
}

.offers__item-button_yellow:active {
  background-color: var(--color-accent3-active);
}

.about__slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--color-title);
}

.about__title {
  text-transform: uppercase;
  font-weight: 700;
}

.about__title_black {
  color: var(--color-title);
}

.about__list-order {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__list-number {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__item-number-title {
  font-size: 45px;
  line-height: 60px;
  font-weight: 700;
}

.about__item-number-title sup {
  font-size: 26px;
  line-height: 40px;
}

.about__item-number-description {
  line-height: 18px;
}

.partners__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-text);
}

.contacts__description {
  line-height: 18px;
  color: var(--color-accent6);
}

.contacts__button {
  padding: 17px 44px;
  color: #ffffff;
  background-color: var(--color-accent1);
  max-width: 219px;
}

.contacts__button:hover,
.contacts__button:focus {
  background-color: var(--color-accent1-hover);
}

.contacts__button:active {
  background-color: var(--color-accent1-active);
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__title {
  font-size: 36px;
  line-height: 36px;
  color: var(--color-title);
  font-weight: 700;
}

.social__description {
  line-height: 22px;
  color: var(--color-accent7);
}

.write-to-us {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.write-to-us__title {
  font-size: 45px;
  color: var(--color-title);
  font-weight: 700;
}

.write-to-us__lable-title {
  line-height: 18px;
  color: var(--color-title);
  font-weight: 700;
}

.write-to-us__placeholder {
  font: inherit;
  padding: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid var(--color-accent8);
  border-radius: 3px;
  display: block;
}

.write-to-us__placeholder:hover {
  border-color: var(--color-accent9);
}

.write-to-us__placeholder:focus {
  outline: none;
  border-color: #000000;
  color: var(--color-accent7);
}

.write-to-us__placeholder:invalid {
  border-color: var(--color-accent1-hover);
  color: var(--color-accent1-hover);
}

.write-to-us__button {
  padding: 17px 83px;
  color: #ffffff;
  background-color: var(--color-accent1);
  max-width: 259px;
}

.write-to-us__button:hover,
.write-to-us__button:focus {
  background-color: var(--color-accent1-hover);
}

.write-to-us__button:active {
  background-color: var(--color-accent1-active);
}
